<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
    <main>I am cart</main>    
    </body>
        <%- include('../includes/end.ejs') %>